{% extends 'base.html.twig' %}

{% block body %}
    <h1>Beertypes list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for beerType in beerTypes %}
            <tr>
                <td><a href="{{ path('beertype_show', { 'id': beerType.id }) }}">{{ beerType.id }}</a></td>
                <td>{{ beerType.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('beertype_show', { 'id': beerType.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('beertype_edit', { 'id': beerType.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('beertype_new') }}">Create a new beerType</a>
        </li>
    </ul>
{% endblock %}
