{% extends 'base.html.twig' %}

{% block body %}
    <h1>Beertype</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ beerType.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ beerType.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('beertype_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('beertype_edit', { 'id': beerType.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
