{% extends 'base.html.twig' %}

{% block body %}
    <h1>Beers list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Degree</th>
                <th>Brewer</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
        {% for beer in beers %}
            <tr>
                <td>

                    <a href="{{ path('beer_show', { 'id': beer.id }) }}">
                        <img src="{{ asset('uploads/pictures/' ~ beer.picture) }}" height="100" width="auto">
                        {{ beer.name }}
                    </a>
                </td>
                <td>{{ beer.degree }}</td>
                <td>{{ beer.brewer }}</td>
                <td>{{ beer.type }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('beer_new') }}" class="btn btn-primary">Add a beer</a>

{% endblock %}
