{% extends 'base.html.twig' %}

{% block body %}
    <h1>Beer</h1>

    <div class="row">
        <div class="col-lg-8">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ beer.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ beer.name }}</td>
                </tr>
                <tr>
                    <th>Degree</th>
                    <td>{{ beer.degree }}</td>
                </tr>
                <tr>
                    <th>Brewer</th>
                    <td>{{ beer.brewer }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ beer.type }}</td>
                </tr>
                </tbody>
            </table>

            {% if not is_rated %}
                <a href="{{ path('beer_rate', { id: beer.id }) }}" class="btn btn-primary">Rate that beer!</a>
            {% else %}
                {#<p>
                    My rating : <br>
                    {{ liking.rating }}/5.0 <br>
                    {{ liking.comment }}
                </p>#}
                <a href="{{ path('rate_update', { id: liking.id }) }}" class="btn btn-primary">Edit my rating</a>
            {% endif %}

            <br><br>

            <h4>See what they say about {{ beer }}</h4>
            {% for rating in beer_ratings %}
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">{{ rating.author }}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">{{ rating.date | date }}</h6>
                        <p class="card-text">{{ rating.comment }}</p>
                        {% if rating.author == app.user %}
                            <a href="{{ path('rate_update', { id: rating.id }) }}" class="btn btn-sm btn-warning card-link">Edit !</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            <br><br>

            <ul>
                <li>
                    <a href="{{ path('beer_index') }}">Back to the list</a>
                </li>
                <li>
                    <a href="{{ path('beer_edit', { 'id': beer.id }) }}">Edit</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <img src="{{ asset('uploads/pictures/' ~ beer.picture) }}" width="300" height="auto">
        </div>
    </div>




{% endblock %}
