{% extends 'base.html.twig' %}

{% block body %}


    <div class="row">
        <div class="col-lg-8">
            <h1>Beer</h1>

            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ beer.name }}</td>
                </tr>
                <tr>
                    <th>Degree</th>
                    <td>{{ beer.degree }}</td>
                </tr>
                <tr>
                    <th>Brewer</th>
                    <td>{{ beer.brewer }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ beer.type }}</td>
                </tr>
                </tbody>
            </table>

            {% if not is_rated %}
                <a href="{{ path('beer_rate', { id: beer.id }) }}" class="btn btn-primary">Rate that beer!</a>
            {% else %}
                <a href="{{ path('rate_update', { id: liking.id }) }}" class="btn btn-primary">Edit my rating</a>
            {% endif %}

            <br><br>

            <h4>See what they say about {{ beer }}</h4>
            {% if beer_ratings | length > 0 %}
                {% for rating in beer_ratings %}
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">
                                <a href="{{ path('user_show', { id: rating.author.id }) }}">
                                    <i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;{{ rating.author }}
                                </a>
                            </h4>
                            <h6 class="card-subtitle mb-2 text-muted">{{ rating.date | date }}</h6>
                            <p class="card-text">
                                <i class="fa fa-star" aria-hidden="true"></i>&nbsp;<b>{{ rating.rating }} / 5.0</b> <br>
                                {{ rating.comment }}
                            </p>
                            {% if rating.author == app.user %}
                                <a href="{{ path('rate_update', { id: rating.id }) }}" class="btn btn-sm btn-warning card-link">Edit !</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>
                    No comment posted yet
                </p>
            {% endif %}


            <br>
            <a href="{{ path('beer_index') }}" class="btn btn-sm btn-secondary">Back to the list</a>

        </div>
        <div class="col-lg-4">
            <img src="{{ asset('uploads/pictures/' ~ beer.picture) }}" width="300" height="auto">
        </div>
    </div>




{% endblock %}
